.title-DiagramStep3Mahoz{
    position: absolute;
    right: 3vh;
    /* right: 50%; */
    /* transform: translateX(50%); */
    margin-top: 28vh;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 69vw;
    height: 7vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 11vw;
    font-family: 'Karantina', cursive;
    color: white;
    background-color:#fbbc6d;
}

.role-DiagramStep3Mahoz{
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: 'Karantina', cursive;
    position: relative;
    width: 69vw;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 8vw;
    top: 42vh;
    right: -25vw;
    margin-bottom: 2vh;
    background-color: #e69138;
}

.blackArrow-DiagramStep3Mahoz{
    position: relative;
    height: auto;
    width: 17vw;
    top: 47vh;
}

.item-image-DiagramStep3Mahoz{
    position: relative;
    height: auto;
    width: 88vw;
    top: 53vh;
}


.explanation-div-DiagramStep3Mahoz{
    position: relative;
    top: 58vh;
    background-color: #d9d9d9;
    width: 90vw;
    right: -5vw;
    border-radius: 6vw;
}

.explanation-title-DiagramStep3Mahoz{
    font-family: 'Karantina', cursive;
    font-size: 8vw;
    text-align: right;
    padding-right: 7vh;
    margin-top: 6vh;
    padding-top: 1vh;
    color: rgb(58, 57, 57);
}


.explanation-text-DiagramStep3Mahoz{
    font-family: 'Heebo', sans-serif;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    direction: rtl;
    padding-right: 4vh;
    padding-left: 4vh;
    text-align: right;
    top: 2vh;
    position: relative;
    line-height: 5vh;
    padding-bottom: 3vh;
}

.step1Btn{
    position: relative;
    top: 71vh;
    left: 5vw;
    color: white;
    background-color: #1cb4e3;
    font-family: 'Karantina', cursive;
    font-size: 7vmin;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 5vh;
    width: 46vw;
    border-radius: 20vw;
}

.margin{
    position: relative;
    top: 75vh;
    height: 3vh;
    width: 100vw;
    background-color: transparent;
}

.arrow-icon {
    height: 3vh;
    width: auto;
    position: relative;
    top: -3.3vh;
    margin-left: -5px;
    transform: rotate(180deg);
}

.arrow-icon.rotated {
    transform: rotate(90deg); /* סיבוב החץ */
}

