.title-DiagramStep3Nafa{
    position: absolute;
    right: 3vh;
    /* right: 50%; */
    /* transform: translateX(50%); */
    margin-top: 28vh;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 69vw;
    height: 7vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 11vw;
    font-family: 'Karantina', cursive;
    color: white;
    background-color: #1cb4e3;
}

.role-DiagramStep3Nafa{
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: 'Karantina', cursive;
    position: relative;
    width: 69vw;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 8vw;
    top: 42vh;
    right: -25vw;
    margin-bottom: 2vh;
    background-color: #3d7ca5;
}

.blackArrow-DiagramStep3Nafa{
    position: relative;
    height: auto;
    width: 17vw;
    top: 47vh;
}

.item-image-DiagramStep3Nafa{
    position: relative;
    height: auto;
    width: 88vw;
    top: 53vh;
}


.explanation-div-DiagramStep3Nafa{
    position: relative;
    top: 58vh;
}

.explanation-title-DiagramStep3Nafa{
    font-family: 'Karantina', cursive;
    font-size: 8vw;
    text-align: right;
    padding-right: 7vh;
    margin-top: 6vh;
}

.explanation-text-DiagramStep3Nafa{
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    color: grey;
    direction: rtl;
    padding-right: 7vh;
    padding-left: 5vh;
    text-align: right;
    top: 2vh;
    position: relative;
    line-height: 5vh;
}

.step1Btn{
    position: relative;
    top: 71vh;
    left: 5vw;
    color: white;
    background-color: #1cb4e3;
    font-family: 'Karantina', cursive;
    font-size: 7vmin;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 5vh;
    width: 46vw;
    border-radius: 20vw;
}

.margin{
    position: relative;
    top: 75vh;
    height: 3vh;
    width: 100vw;
    background-color: transparent;
}