.title-DiagramStep2{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    font-family: 'Karantina', cursive;
    font-size: 14vw;
    margin-top: 27vh;
    width: 100%;
    text-align: center;
    color: #50565c;
}

.subText-step2{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    color: grey;
    text-align: center;
    margin-top: 48vh;
    width: 82vw;
    direction: rtl;
}

.stpe2Img{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    margin-top: 63vh;
    height: auto;
    width: 88vw;
}
.text-img{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    margin-top: 93vh;
    font-family: 'Heebo', sans-serif;
    font-size: 3.5vw;
    color: grey;
}

.magnified {
    width: 143vw;
    transform: rotate(90deg);
    margin-top: 59vw;
    margin-right: -74vw;
    z-index: 3;
}

.shadow {
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 22, 22, 0.575);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.shadow-active {
    display: block;
}