.title-DiagramStep3Nafa{
    position: absolute;
    right: 3vh;
    margin-top: 50vh;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 69vw;
    height: 7vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 11vw;
    font-family: 'Karantina', cursive;
    color: white;
    background-color: #1cb4e3;
}

.arrow-icon1-DiagramStep3Nafa{
    height: 4vh;
    width: auto;
    position: absolute;
    top: 3.5vh;
    left: 4vh;
}

.arrow-icon2-DiagramStep3Nafa{
    height: 4vh;
    width: auto;
    position: relative;
    top: 51.7vh;
    left: -8vh;
}

.role-DiagramStep3Nafa{
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: 'Karantina', cursive;
    position: relative;
    width: 41vw;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 8vw;
    padding-left: 8vh;
    top: 65vh;
    padding-right: 8vh;
    right: -25vw;
    margin-bottom: 2vh;
    background-color: #3d7ca5;
}


.blackArrow1-DiagramStep3Nafa{
    position: relative;
    height: auto;
    width: 17vw;
    top: 45vh;
}

.blackArrow2-DiagramStep3Nafa{
    position: relative;
    height: auto;
    width: 17vw;
    top: 66vh;
}


.item-image-DiagramStep3Nafa{
    position: relative;
    height: auto;
    width: 88vw;
    top: 69vh;
}

.text-img-nafa{
    position: relative;
    right: -18vw;
    top: 69vh;
    font-family: 'Heebo', sans-serif;
    font-size: 3.5vw;
    color: grey;
    width: 60vw;
}

.glass-nafa{
    position: relative;
    right: -28vw;
    top: 65vh;
    height: auto;
    width: 7vw;
}

.explanation-div-DiagramStep3Nafa{
    position: relative;
    top: 39vh;
    background-color: #d9d9d9;
    width: 90vw;
    right: -5vw;
    border-radius: 6vw;
}

.explanation-title-DiagramStep3Nafa{
    font-family: 'Karantina', cursive;
    font-size: 8vw;
    text-align: right;
    padding-right: 7vh;
    margin-top: 6vh;
    padding-top: 1vh;
    color: rgb(58, 57, 57);
}


.explanation-text-DiagramStep3Nafa{
    font-family: 'Heebo', sans-serif;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    direction: rtl;
    padding-right: 4vh;
    padding-left: 4vh;
    text-align: right;
    top: 2vh;
    position: relative;
    line-height: 5vh;
    padding-bottom: 3vh;
}

.step1Btn{
    position: relative;
    top: 71vh;
    left: 5vw;
    color: white;
    background-color: #1cb4e3;
    font-family: 'Karantina', cursive;
    font-size: 7vmin;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 5vh;
    width: 46vw;
    border-radius: 20vw;
}

.margin{
    position: relative;
    top: 75vh;
    height: 3vh;
    width: 100vw;
    background-color: transparent;
}

.arrow-icon {
    height: 3vh;
    width: auto;
    position: relative;
    top: -3.3vh;
    margin-left: -98px;
    transform: rotate(180deg);
}

.arrow-icon.rotated {
    transform: rotate(90deg); 
}

