.title-DiagramStep2 {
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    font-family: 'Karantina', cursive;
    font-size: 14vw;
    top: 42vh;
    width: 100%;
    text-align: center;
    color: #50565c;
}




.explanation-div-DiagramStep2 {
    position: relative;
    top: 55vh;
    background-color: #d9d9d9;
    width: 90vw;
    right: -5vw;
    margin-bottom: -1vw;
    border-radius: 6vw;
}




.explanation-title-DiagramStep2 {
    font-family: 'Karantina', cursive;
    font-size: 8vw;
    text-align: center;
    margin-top: 7vh;
    padding-top: 2vh;
    color: rgb(58, 57, 57);
}








.explanation-text-DiagramStep2 {
 
    font-family: 'Heebo', sans-serif;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    direction: rtl;
    padding-right: 4vh;
    padding-left: 4vh;
    text-align: right;
    top: 2vh;
    position: relative;
    line-height: 5vh;
    padding-bottom: 2vh;
}

.arrow-icon1 {
    height: 3vh;
    width: auto;
    right: 2vw;
    position: relative;
    top: -3.42vh;
    padding-left: -23vw;
    margin-left: -230px;
    transform: rotate(180deg);
}

.arrow-icon1.rotated {
    transform: rotate(90deg);
}

.arrow-icon1-diagram {
    height: 4vh;
    width: auto;
    position: absolute;
    top: 4.5vh;
    left: 3vh;
}

.arrow-icon2-diagram {
    height: 4vh;
    width: auto;
    position: absolute;
    top: 11vh;
    right: 50%;
    transform: translateX(50%);
}

.arrow-icon3-diagram {
    height: 4vh;
    width: auto;
    position: absolute;
    top: 3.4vh;
    left: 4vh;
}

.subText-step2 {
    position: relative;
    right: -9vw;
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    color: grey;
    text-align: center;
    top: 66vh;
    width: 82vw;
    direction: rtl;
}

.stpe2Img {
    position: relative;
    right: 0vw;
    top: 71vh;
    height: auto;
    width: 88vw;
}

.text-img {
    position: relative;
    right: -16vw;
    top: 71vh;
    font-family: 'Heebo', sans-serif;
    font-size: 3.5vw;
    color: grey;
    width: 60vw;
}

 
.glass{
    position: relative;
    right: -28vw;
    top: 67vh;
    height: auto;
    width: 7vw;
}








.blackArrow-step2 {
    position: relative;
    right: 0vw;
    top: 73vh;
    height: auto;
    width: 17vw;
}




.all-diagram {
    position: relative;
    width: 100vw;
    font-family: 'Karantina', cursive;
    color: white;
    top: 77vh;
    margin-bottom: 31vh;
    height: 130vh;
}




.line {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    border-left: 2vw solid #595959;
    height: 119vh;
    top: 2vh;
}




.small-line {
    position: absolute;
    border-left: 2vw solid #595959;
    height: 6vh;
    transform: rotate(90deg);
    left: 43vw;
    top: 23vh;
}




.first-frame {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 72vw;
    height: 10vh;
    padding-top: 3vh;
    padding-bottom: 1vh;
    text-align: right;
    font-size: 11.5vw;
    padding-right: 4vh;
}




.second-frame {
    width: 36vw;
    height: 14vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    position: relative;
    left: 3vw;
    top: 19vh;
    padding-right: 2vh;
    font-size: 8vw;
}




.frame {
    cursor: pointer;
    text-align: center;
    color: white;
    position: relative;
    width: 69vw;
    height: 7vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 4vh;
    top: 25vh;
    left: 15vw;
    font-size: 11vw;
}

hr.dotted {
    border: none;
    border-top: 2px dotted #4e4d4d;
    width: 40vh;
    height: 0;
    padding: 0;
    position: relative;
 }

 .hr1{
    right: 1vw;
    top: 62vh;
 }

 .hr2{
    right: 1vw;
    top: 73vh;
 }
