/* Mobile */
@media screen and (max-width: 768px) {
    .MagnifyPic {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .magnifyPic-content {
        position: relative;
        text-align: center;
    }

    .magnified-image {
        width: 156vw;
        transform: rotate(90deg);
        top: 51vw;
        right: -28vw;
        z-index: 3;
        position: fixed;
    }

    .close-btn {
        position: absolute;
        top: 19px;
        right: 10px;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 50%;
        width: 55px;
        height: 40px;
        font-size: 32px;
        cursor: pointer;
        outline: none;
        font-weight: bolder;
    }

}



/* Desktop */
@media screen and (min-width: 1025px) {

    .MagnifyPic {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .magnifyPic-content {
        position: relative;
        text-align: center;
    }

    .magnified-image {
        width: 85%;
        top: 4vw;
        position: absolute;
        transform: translateX(50%);
        right: 50%;
        z-index: 3;
        position: fixed;
    }

    .close-btn {
        position: absolute;
         top: 1vh;
        right: 3vh;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 50%;
        height: 40px;
        font-size: 6rem;
        cursor: pointer;
        outline: none;
        font-weight: bolder;
    }
}