.operation-icon{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    width: 17vw;
    height: auto;
    margin-top: 15vh;
}

.title-operation{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    font-family: 'Karantina', cursive;
    font-size: 15vw;
    margin-top: 27vh;
    width: 100%;
    text-align: center;
    color: #50565c;

}

.subtitle-operation{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    color: grey;
    text-align: center;
    margin-top: 38vh;
    width: 82vw;
    direction: rtl;
}

.items-operation{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    color: rgb(86, 195, 232);
    text-decoration: underline;
    width: 80vw;
    text-align: right;
    margin-right: 5vw;
}

#item1-operation{
    margin-top: 55vh;

}

#item2-operation{
    margin-top: 62vh;

}

#item3-operation{
    margin-top: 69vh;

}

#item4-operation{
    margin-top: 76vh;

}