/* Mobile */
@media screen and (max-width: 768px) {

    .btn-back-part1 {
        margin-top: 20vh;
        color: #50565c;
        font-family: 'Assistant';
        font-size: 5vmin;
        margin-left: 45vw;
        width: 50%;
    }

    .title2-operation {
        position: absolute;
        transform: translateX(50%);
        right: 50%;
        font-family: 'Karantina', cursive;
        font-size: 15vw;
        top: 22vh;
        width: 63%;
        text-align: center;
        font-weight: normal;
    }

    .nafaMahozBtns {
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 4vw;
        z-index: 10;
    }

    .btn-operation {
        font-family: 'Karantina', cursive;
        font-size: 9vw;
        color: white;
        border-radius: 5vw;
        text-align: center;
        padding: 1vh 17vw;
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }


    .nafa-btn {
        background-color: #1cb4e3;
    }

    .mahoz-btn {
        background-color: #ff9900;
    }

    .accordionItems-div {
        margin-top: 38vh;
    }

    .accordion-item-operation {
        position: relative;
        background-color: #d9d9d9;
        width: 90vw;
        right: -5vw;
        border-radius: 6vw;
        margin-bottom: 3vh;
    }

    .accordion-header-operation {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Karantina', cursive;
        font-size: 8vw;
        color: rgb(58, 57, 57);
        text-align: center;
        margin-top: 6vh;
        padding-top: 2vh;
        cursor: pointer;
        position: relative;
        padding-bottom: 2vh;
    }

    .accordion-arrow {
        height: 3vh;
        width: auto;
        position: absolute;
        /* top: -3.4vh; */
        left: 5vw;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .accordion-arrow.rotated {
        transform: rotate(90deg);
    }

    .accordion-body-operation {
        font-family: 'Assistant';
        font-size: 4vw;
        color: rgb(0, 0, 0);
        direction: rtl;
        padding: 2vh 4vh 3vh 4vh;
        text-align: right;
        line-height: 5vh;
    }

    .operation-img {
        width: 100%;
        max-width: 600px;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    .operation-img {
        width: 100%;
        max-width: 600px;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .image-caption-operation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        margin-top: 1vh;
        flex-direction: row-reverse;
    }

    .text-img-operation {
        font-size: 3.5vw;
        color: #444;
        font-family: 'Assistant';
    }

    .glass-icon-operation {
        width: 5vw;
        height: auto;
    }

    .accordion-list {
        padding-right: 20px;
        margin: 0;
        list-style-type: disc;
    }

    .accordion-line {
        margin-bottom: 8px;
        font-size: 4vw;
    }

    .footer-operation2 {
        width: 100%;
        height: 5vh;
    }

}

/* Desktop */
@media screen and (min-width: 1025px) {

      .btn-back-part1 {
        color: #50565c;
        font-family: 'Assistant';
        font-size: 3vmin;
        position: absolute;
        top: 15vh;
        right: 4vw;
        text-decoration: underline;
        cursor: pointer;
    }

    .title2-operation {
             position: absolute;
        transform: translateX(50%);
        right: 50%;
        font-family: 'Karantina', cursive;
        font-size: 6vw;
        top: 15vh;
        width: 63%;
        text-align: center;
        font-weight: normal;
    }

    .nafaMahozBtns {
        position: absolute;
        top: 37vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 2vw;
        z-index: 10;
    }

    .btn-operation {
        font-family: 'Karantina', cursive;
        font-size: 3vw;
        color: white;
        border-radius: 5vw;
        text-align: center;
        padding: 1vh 4vw;
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }


    .nafa-btn {
        background-color: #1cb4e3;
    }

    .mahoz-btn {
        background-color: #ff9900;
    }

    .accordionItems-div {
        margin-top: 50vh;
    }

    .accordion-item-operation {
        position: relative;
        background-color: #d9d9d9;
        width: 36vw;
        right: -5vw;
        border-radius: 6vw;
        margin-bottom: 3vh;
         left: 50%;
        transform: translateX(-50%);
    }

    .accordion-header-operation {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Karantina', cursive;
        font-size: 2.5vw;
        color: rgb(58, 57, 57);
        text-align: center;
        margin-top: 6vh;
        padding-top: 2vh;
        cursor: pointer;
        position: relative;
        padding-bottom: 2vh;
    }

    .accordion-arrow {
        height: 3vh;
        width: auto;
        position: absolute;
        /* top: -3.4vh; */
        left: 5vw;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .accordion-arrow.rotated {
        transform: rotate(90deg);
    }

    .accordion-body-operation {
        font-family: 'Assistant';
        font-size: 4vw;
        color: rgb(0, 0, 0);
        direction: rtl;
        padding: 2vh 4vh 3vh 4vh;
        text-align: right;
        line-height: 5vh;
    }

    .operation-img {
        width: 100%;
        max-width: 600px;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    .operation-img {
        width: 100%;
        max-width: 600px;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .image-caption-operation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        margin-top: 1vh;
        flex-direction: row-reverse;
    }

    .text-img-operation {
     font-size: 1.2vw;
        color: #444;
        font-family: 'Assistant';
    }

    .glass-icon-operation {
        width: 2vw;
        height: auto;
    }

    .accordion-list {
        padding-right: 20px;
        margin: 0;
        list-style-type: disc;
    }

    .accordion-line {
        margin-bottom: 8px;
        font-size: 1.2vw;
    }

    .footer-operation2 {
        width: 100%;
        height: 5vh;
    }
}