/* Mobile */
@media screen and (max-width: 768px) {

  .intro-div-Relations {
    background-color: white;
  }

  .hpArrow-Relations {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 20vw;
    bottom: 15vh;
    animation: bounce2 2s ease infinite;
  }

  .photo-mimshak-intro {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 23vw;
    margin-top: 18vh;
  }

  .title-intro-rel {
    font-family: 'Karantina', cursive;
    font-size: 15vw;
    margin-top: 34vh;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    color: rgb(86, 195, 232);
  }

  .sub-intro-rel {
    font-family: 'Assistant';
    font-size: 5vw;
    color: grey;
    text-align: center;
    margin-top: 54vh;
    width: 82vw;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }


  .title-page1 {
    font-family: 'Karantina', cursive;
    font-size: 14vw;
    margin-bottom: 3vw;
    margin-top: 37vh;
    width: 87%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    transition: color 0.3s;
  }

  .all-steps {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 4vh;
    display: flex;
    width: 71vw;
    justify-content: center;
    direction: rtl;
    margin-top: 26vh;
  }

  .btn-steps {
    width: 14vh;
    height: 4vh;
    margin-right: 1vw;
    margin-left: 0vw;
    padding-top: 1vh;
    text-align: center;
    font-family: 'Assistant';
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(86, 195, 232);
    position: relative;
    top: 0vh;
    right: 8vw;
  }

  .photo-mimshak {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 15vw;
    margin-top: 15vh;
  }

  .content-page1 {
    height: 52vh;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    margin-top: 40vh;
  }

  .text-page1 {
    font-family: 'Assistant';
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-top: 5vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  .all-opotion {
    font-family: 'Assistant';
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: #595959;
    margin-top: 14vh;
  }

  .array-item {
    height: 6vh;
    width: 85vw;
    background-color: #d9d9d9;
    margin-top: 2vh;
    padding-top: 1.5vh;
    font-size: 5vmin;
    cursor: pointer;
    /* Add pointer cursor on hover */
    margin-bottom: 3vh;
  }

  .array-item:active {
    background-color: #56c3e8;
    /* Change background color to blue when selected */
    color: white;
    /* Change text color to white for better readability */
  }

  .sub-text-relations {
    font-family: 'Assistant';
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-top: 33vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  #btn-print-relations1 {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    background-color: transparent;
    width: 56vw;
    height: 5vh;
  }

  .relationsPrintDiv {
    height: 8vh;
  }

}

/* Desktop */
@media screen and (min-width: 1025px) {
  .intro-div-Relations {
    background-color: white;
  }

  .hpArrow-Relations {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 20vw;
    bottom: 15vh;
    animation: bounce2 2s ease infinite;
  }

  .photo-mimshak-intro {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 5vw;
    height: auto;
    margin-top: 15vh;
  }

  .title-intro-rel {
    font-family: 'Karantina', cursive;
    font-size: 7vw;
    margin-top: 26vh;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    color: rgb(86, 195, 232);
  }

  .sub-intro-rel {
    font-family: 'Assistant';
    font-size: 2.5vw;
    color: grey;
    text-align: center;
    margin-top: 45vh;
    width: 60vw;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
    line-height: 7vh;
  }


  .title-page1 {
    font-family: 'Karantina', cursive;
    font-size: 6vw;
    margin-bottom: 3vw;
    margin-top: 37vh;
    width: 87%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    transition: color 0.3s;
  }

  .all-steps {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 4vh;
    display: flex;
    width: 71vw;
    justify-content: center;
    direction: rtl;
    margin-top: 26vh;
  }

  .btn-steps {
    width: 14vh;
    height: 4vh;
    margin-right: 1vw;
    margin-left: 0vw;
    padding-top: 1vh;
    text-align: center;
    font-family: 'Assistant';
    color: white;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(86, 195, 232);
    position: relative;
    top: 1vh;
    right: 3.5vw;
  }

  .photo-mimshak {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 5vw;
    height: auto;
    margin-top: 15vh;
  }

  .content-page1 {
    height: 52vh;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    margin-top: 40vh;
  }

  .text-page1 {
    font-family: 'Assistant';
    font-size: 4vmin;
    color: grey;
    text-align: center;
    margin-top: 8vh;
    width: 67%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  .all-opotion {
    font-family: 'Assistant';
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    color: #595959;
    margin-top: 14vh;
  }

  .array-item {
    height: 6vh;
    width: 29vw;
    background-color: #d9d9d9;
    margin-top: 2vh;
    padding-top: 1.5vh;
    font-size: 3.5vmin;
    cursor: pointer;
    margin-bottom: 3vh;
    cursor: pointer;
  }

  .array-item:active {
    background-color: #56c3e8;
    /* Change background color to blue when selected */
    color: white;
    /* Change text color to white for better readability */
  }

  .array-item:hover {
    background-color: #56c3e8;
    color: white;
  }

  .sub-text-relations {
    font-family: 'Assistant';
    font-size: 3vmin;
    color: grey;
    text-align: center;
    margin-top: 33vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }

  #btn-print-relations1 {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    background-color: transparent;
    width: 56vw;
    height: 5vh;
  }

  .relationsPrintDiv {
    height: 8vh;
  }
}